<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>

<body>
    <!-- Header -->
    <header>
        <div class="container">
            <h1>{{ site.title }}</h1>
            <p>{{ site.description }}</p>
        </div>
    </header>

    <!-- Navigation -->
    <nav>
        <ul>
            <li><a href="{{ './' | relative_url }}">Home</a></li>
            <li><a href="{{ './CFP' | relative_url }}">Call for papers</a></li>
            <li><a href="{{ './dates' | relative_url }}">Important dates</a></li>
           <li><a href="{{ './tasks' | relative_url }}">Tasks</a></li>
            <li><a href="{{ './tools' | relative_url }}">Tools</a></li>
           <li><a href="{{ './program' | relative_url }}">Program</a></li>
          <li><a href="{{ './publications' | relative_url }}">Publications</a></li>
            <li><a href="{{ './organizers' | relative_url }}">Organizers</a></li>
            <li><a href="{{ './contact' | relative_url }}">Contact</a></li>
   <li><a href="https://simpletext-project.com/2024/en/" target="_blank" rel="noopener">CLEF 2024</a></li>


        </ul>
    </nav>

    <!-- Main Content -->
    <main>
        <div class="container">
            {{ content }}
        </div>
    </main>

    <!-- Footer -->
    
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        
        <p class="copyright">CLEF 2024 SimpleText maintained by <a href="https://github.com/simpletext-madics">simpletext-madics</a></p>
        
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

</body>
<script>
    window.addEventListener('scroll', function() {
        const nav = document.querySelector('nav');
        if (window.scrollY > 50) {
            nav.classList.add('scrolled');
        } else {
            nav.classList.remove('scrolled');
        }
    });
</script>

</html>
