<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ 'styles.css' | relative_url }}">
</head>

<body>
    <!-- Header -->
    <header>
        <div class="container">
            <h1>{{ site.title }}</h1>
            <p>{{ site.description }}</p>
        </div>
    </header>

    <!-- Navigation -->
    <nav>
        <ul>
            <li><a href="{{ '/index.md' | relative_url }}">Home</a></li>
            <li><a href="{{ '/cfp.md' | relative_url }}">Call for papers</a></li>
            <li><a href="{{ '/dates.md' | relative_url }}">Important dates</a></li>
           <li><a href="{{ '/tasks.md' | relative_url }}">Tasks</a></li>
            <li><a href="{{ '/tools.md' | relative_url }}">Tools</a></li>
           <li><a href="{{ '/program.md' | relative_url }}">Program</a></li>
          <li><a href="{{ '/publications.md' | relative_url }}">Publications</a></li>
            <li><a href="{{ '/organizers.md' | relative_url }}">Organizers</a></li>
            <li><a href="{{ '/contact.md' | relative_url }}">Contact</a></li>
           
        </ul>
    </nav>

    <!-- Main Content -->
    <main>
        <div class="container">
            {{ content }}
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; {{ site.time | date: '%Y' }} - {{ site.title }}. Tous droits réservés.</p>
        </div>
    </footer>
</body>

</html>
